{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "transform-object-rest-spread",
    "transform-class-properties",
    "react"
  ]
}
