@import "fonts.less";

@color-bg: #222;
@color-fg: #666;
@icon-size: 48px;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  height: 100%;
  background-color: @color-bg;
  color: @color-fg;
  margin: 0 0;
  font-family: sans-serif;
}

#container {
  width: 100%;
  height: 100%;
}

.remote {
  width: 100%;
  height: 100%;

  .mousepad {
    width: 100%;
    height: 100%;
    position: relative;

    .icon {
      font-size: @icon-size;
      position: absolute;
      text-align: center;
      top: 40%;
      left: 0;
      right: 0;
    }
  }

  input {
    width: 100%;
    display: block;
    background-color: @color-bg;
    border: none;
    border-top: 5px dashed lighten(@color-bg, 5%);
    padding: 0.5em;
    text-align: center;
    color: @color-fg;
    position: fixed;
    font-size: 1.5em;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "icons";
    font-size: @icon-size;
  }

  input::-webkit-input-placeholder {
    color: @color-fg;
  }
}

