@import "fonts.less";

@color-bg: #222;
@color-fg: #666;
@icon-size: 48px;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  height: 100%;
  background-color: @color-bg;
  color: @color-fg;
  margin: 0 0;
  font-family: sans-serif;
}

#container {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;

  .navbar {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      padding: 0.5em;
      padding-right: 0;
      font-size: 32px;
      cursor: pointer;
      z-index: 1;
    }

    li.active {
      color: white;
    }
  }

  .panel() {
    flex: 2;
    overflow: auto;
  }

  .log {
    padding: 1em;
    code {
      display: block;
    }
    .panel();
  }

  .keys {
    .panel();
  }

  .mousepad {
    .panel();
    position: relative;

    .icon {
      font-size: @icon-size;
      margin-top: -@icon-size;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 0;
      right: 0;
    }
  }

  input {
    display: flex;
    min-height: 30px;

    width: 100%;
    background-color: @color-bg;
    border: none;
    border-top: 5px dashed lighten(@color-bg, 5%);
    padding: 0.5em;
    text-align: center;
    color: @color-fg;
    font-size: 1.5em;
    font-family: "icons";
    font-size: @icon-size;
  }

  input::-webkit-input-placeholder {
    color: @color-fg;
  }
}

